body {
    font-family: Arial;
}

@media (max-width: 1195px) {
    .map iframe{
    margin: 0 auto;
     width: 98%;
   
            }
}

.borda-redonda {
    border-radius: 18px;
}

.link-detalhe:hover {
    text-decoration: underline; 
	color: #230541
}

.text-negrito {
    font-weight: bold;
}

.style-sombra {
    font-size: 15pt;
    transition: font-size 0.2s;
}
.style-sombra:hover {
    font-size: 14pt;
}

.diminui {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  };





